<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('upload/dist/min/dropzone.min.css')}}">
        {% endblock stylesheets %}
    </head>
    <body>
        {% block body %}{% endblock %}
            <script src="{{asset('upload/dist/min/dropzone.min.js')}}"></script> 
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
</html>
