{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

<form action="doUpload" method="post" enctype="multipart/form-data">

{# link para acessar script de drag and drop #}
<script src="/upload/dist/dropzone.js"></script>
<link rel="stylesheet" href="/upload/dist/dropzone.css"

<input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
<form action="var/uploads" class="dropzone">
    <div class="fallback">
        <label>Arquivo para upload:</label>
        <input type="file" multiple name="file">
    </div>
</form>
    <button type="submit">Enviar</button>

</form>

{% endblock %}