{% extends "base.html.twig" %}
{% block title %}
    Problema detectado
{% endblock %}
{% block body %}
    <div>
        <p>
            Houve um problema: {{ exception.message }}
        </p>
    </div>
{% endblock %}